/* ALL THE PRETTY THINGS!*/

#correct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    width: 100px;
    
}

#container {
    background-color: purple;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    justify-content: space-around;
    margin: auto;
}

#display {
    background-color: white;
}

#calculator {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    background-color: black;
    justify-content: space-around;
    margin: auto;
}